In [104]:
import pandas as pd

In [105]:
vgsales_df = pd.read_csv('../resources/vgsales.csv')

### Which company is the most common video game publisher?

In [106]:
vgsales_df["Publisher"].value_counts()

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Graphsim Entertainment             1
Hello Games                        1
PopTop Software                    1
EA Games                           1
Sunflowers                         1
Name: Publisher, Length: 578, dtype: int64

### What’s the most common platform?

In [107]:
vgsales_df["Platform"].value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
WS         6
SCD        6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

### What about the most common genre?

In [108]:
vgsales_df["Genre"].value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

### What are the top 20 highest grossing games?

In [109]:
vgsales_df[["Name", "Global_Sales"]].head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### For North American video game sales, what’s the median?

In [110]:
vgsales_df["NA_Sales"].median()

0.08

### Provide a secondary output showing ten games surrounding the median sales output assume that games with same median value are sorted in descending order

In [111]:
midpoint = len(vgsales_df[["Name","NA_Sales"]]) //2
vgsales_df.sort_values(by=["NA_Sales"])[["Name","NA_Sales"]][midpoint -5 : midpoint + 5]

                                           Name  NA_Sales
11138                  Harvest Moon: Boy & Girl      0.08
4361               One Piece: Pirate Warriors 3      0.08
10463  Tom Clancy's Splinter Cell: Chaos Theory      0.08
10020                  Phantasy Star Collection      0.08
11144                             The Ant Bully      0.08
8614    Ghost in the Shell: Stand Alone Complex      0.08
8613                SpongeBob's Truth or Square      0.08
10461          Metal Arms: Glitch in the System      0.08
11145                 MLB 2K9 Fantasy All-Stars      0.08
11149               Shrek Smash n' Crash Racing      0.08

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [112]:
print("Best selling game of all time")
vgsales_df.sort_values(by=["Global_Sales"])[["Name","Global_Sales"]].tail(1)

Best selling game of all time

         Name  Global_Sales
0  Wii Sports         82.74

In [113]:
print("North American Sales for best selling game of all time")
vgsales_df.sort_values(by=["Global_Sales"])[["Name","NA_Sales"]].tail(1)

North American Sales for best selling game of all time

         Name  NA_Sales
0  Wii Sports     41.49

In [114]:
print("Standard Deviation for NA sales")
vgsales_df.sort_values(by=["NA_Sales"])[["NA_Sales"]].std()

Standard Deviation for NA sales

NA_Sales    0.816683
dtype: float64

In [115]:
print("Mean of all NA sales")
vgsales_df.sort_values(by=["NA_Sales"])[["NA_Sales"]].mean()

Mean of all NA sales

NA_Sales    0.264667
dtype: float64

In [116]:
print("Number of standard deviations wii sports sold above mean")
mean = vgsales_df.sort_values(by=["NA_Sales"])[["NA_Sales"]].mean()
std_deviation = vgsales_df.sort_values(by=["NA_Sales"])[["NA_Sales"]].std()
wii_sports_sales = vgsales_df.sort_values(by=["NA_Sales"])[["NA_Sales"]].tail(1)
print((wii_sports_sales - mean) /std_deviation, "standard deviations")

Number of standard deviations wii sports sold above mean
    NA_Sales
0  50.478988 standard deviations

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [117]:
vgsales_df.groupby("Platform")["Global_Sales"].mean()

Platform
2600    0.729925
3DO     0.033333
3DS     0.486169
DC      0.307115
DS      0.380254
GB      2.606633
GBA     0.387470
GC      0.358561
GEN     1.050370
GG      0.040000
N64     0.686144
NES     2.561939
NG      0.120000
PC      0.269604
PCFX    0.030000
PS      0.610920
PS2     0.581046
PS3     0.720722
PS4     0.827679
PSP     0.244254
PSV     0.149952
SAT     0.194162
SCD     0.311667
SNES    0.837029
TG16    0.080000
WS      0.236667
Wii     0.699404
WiiU    0.572448
X360    0.774672
XB      0.313422
XOne    0.662254
Name: Global_Sales, dtype: float64

### Come up with 3 more questions that can be answered with this data set.

### I'm gonna do one question but it will have some cool sub questions. My Big question is this
What games are *RELATIVELY* the most popular in JP, EU and NA
that is to say which games have the highest portion of their sales in each of the zones.

In [118]:
vgsales_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [125]:
#Is this dry? It is not 
NA_Sales_Percents = []
for index, row in vgsales_df.iterrows():
    NA_Sales_Percents.append(row["NA_Sales"] / row["Global_Sales"])
vgsales_df["NA_Sales_Percents"] = NA_Sales_Percents

EU_Sales_Percents = []
for index, row in vgsales_df.iterrows():
    EU_Sales_Percents.append(row["EU_Sales"] / row["Global_Sales"])
vgsales_df["EU_Sales_Percents"] = EU_Sales_Percents

JP_Sales_Percents = []
for index, row in vgsales_df.iterrows():
    JP_Sales_Percents.append(row["JP_Sales"] / row["Global_Sales"])
vgsales_df["JP_Sales_Percents"] = JP_Sales_Percents
vgsales_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,NA_Sales_percents,EU_Sales_percents,JP_Sales_percents,NA_Sales_Percents,EU_Sales_Percents,JP_Sales_Percents
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.501450,0.350737,0.045564,0.501450,0.350737,0.045564
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.722664,0.088966,0.169235,0.722664,0.088966,0.169235
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.442490,0.359576,0.105807,0.442490,0.359576,0.105807
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.477273,0.333636,0.099394,0.477273,0.333636,0.099394
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.359260,0.283392,0.325789,0.359260,0.283392,0.325789

In [131]:
vgsales_df[["Name", "NA_Sales", "Global_Sales", "NA_Sales_Percents"]].sort_values(by=["NA_Sales_Percents"]).tail(5)

                               Name  NA_Sales  Global_Sales  NA_Sales_Percents
15028         Backyard NFL Football      0.02          0.02                1.0
15025  Future Tactics: The Uprising      0.02          0.02                1.0
15009          AirForce Delta Storm      0.02          0.02                1.0
15077         Line Rider 2: Unbound      0.02          0.02                1.0
16597              Spirits & Spells      0.01          0.01                1.0

In [132]:
vgsales_df[["Name", "EU_Sales", "Global_Sales", "EU_Sales_Percents"]].sort_values(by=["EU_Sales_Percents"]).tail(5)

,Name,EU_Sales,Global_Sales,EU_Sales_Percents
15462,Crysis: Warhead,0.02,0.02,1.0
13546,WSC Real 11: World Snooker Championship,0.04,0.04,1.0
16186,BattleForge,0.01,0.01,1.0
16178,Putty Squad,0.01,0.01,1.0
14982,Rapala for Kinect,0.02,0.02,1.0

In [133]:
vgsales_df[["Name", "JP_Sales", "Global_Sales", "JP_Sales_Percents"]].sort_values(by=["JP_Sales_Percents"]).tail(5)

,Name,JP_Sales,Global_Sales,JP_Sales_Percents
13557,San-X Land: Theme Park de Asobou!,0.04,0.04,1.0
13558,Corpse Party: Book of Shadows,0.04,0.04,1.0
13559,428: Fuusa Sareta Shibuya de,0.04,0.04,1.0
13513,Chou Gekijoban Keroro Gunsou: Gekishin Dragon ...,0.04,0.04,1.0
11597,FabStyle,0.08,0.08,1.0